*.log
log.txt
app/cache
app/log
app/searchIndex
app/release
app/public/media
app/config/*.ini
app/public/soap-interface.php
app/public/js/model/types
!app/public/js/model/types/app/src/model/wcmf/PermissionClass.js
!app/public/js/model/types/app/src/model/wcmf/RoleClass.js
!app/public/js/model/types/app/src/model/wcmf/UserClass.js
app/src/controller
!app/src/controller/RootController.php
app/src/model
!app/src/model/EntityBase*
app/src/views
!app/src/views/cms.tpl
install/*.sql
dist
vendor/*
app/public/vendor/*
!app/public/vendor/ckeditor-plugins
!app/public/vendor/simmerdesign
composer.lock
/build/build-report.txt
