node_modules
package-lock.json
.vscode
dist
backend/app/cache
backend/app/log
backend/app/searchIndex
backend/app/media
backend/app/config/*.ini
backend/app/public/soap-interface.php
backend/app/src/controller
!backend/app/src/controller/RootController.php
!backend/app/src/controller/ImageController.php
backend/app/src/model
!backend/app/src/model/EntityBase.php
!backend/app/src/model/wcmf/Translation.php
backend/app/src/views
!backend/app/src/views/cms.tpl
!backend/app/src/views/failure.tpl
backend/vendor
frontend/src/app/src/model
!frontend/src/app/src/model/wcmf/RoleClass.js
!frontend/src/app/src/model/wcmf/UserClass.js
frontend/src/app/types.ts
install/*.sql
__backup