<div>
    <div class="clearfix">
        <h3 class="pull-left" data-dojo-attach-point="headlineNode">${headline}</h3>
        <div class="pull-right">
            <div data-dojo-attach-point="toolbarNode"></div>
        </div>
    </div>
    <div data-dojo-attach-point="gridNode"></div>
    <div class="btn-toolbar pull-right">
        <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'btn btn-primary primary'" type="submit" data-dojo-attach-point="createBtn" data-dojo-attach-event="onClick:_create">{translate:Create %0%|${typeName}}</button>
    </div>
</div>
