<div>
    <div class="dijitDialogPaneContentArea">
        <div class="row-fluid spacer">
            <div class="span2">{translate:Read}</div>
            <div class="span10"><div data-dojo-attach-point="readCtrl"></div></div>
        </div>
        <div class="row-fluid spacer">
            <div class="span2">{translate:Update}</div>
            <div class="span10"><div data-dojo-attach-point="updateCtrl"></div></div>
        </div>
        <div class="row-fluid spacer">
            <div class="span2">{translate:Delete}</div>
            <div class="span10"><div data-dojo-attach-point="deleteCtrl"></div></div>
        </div>
        <div class="row-fluid spacer">
            <div class="span4">{translate:Permissions for User}</div>
            <div class="span8">
            </div>
        </div>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'primary'" type="submit" data-dojo-attach-point="okBtn">{translate:Save}</button>
        <button data-dojo-type="../../_include/widget/Button" type="button" data-dojo-attach-point="cancelBtn">{translate:Cancel}</button>
    </div>
</div>
