<div>
    <div class="dijitDialogPaneContentArea">
        <div data-dojo-attach-point="contentNode"></div>
        <table class="table">
            <tr>
                <th>{translate:Action}</th>
                <th>{translate:Active}</th>
                <th>{translate:Default}</th>
                <th>{translate:Roles}</th>
            </tr>
            <tr>
                <td>{translate:Read}</td>
                <td><div data-dojo-attach-point="readActivateCtrl"></div></td>
                <td><div data-dojo-attach-point="readDefaultCtrl"></div></td>
                <td><div data-dojo-attach-point="readPermCtrl"></div></td>
            </tr>
            <tr>
                <td>{translate:Update}</td>
                <td><div data-dojo-attach-point="updateActivateCtrl"></div></td>
                <td><div data-dojo-attach-point="updateDefaultCtrl"></div></td>
                <td><div data-dojo-attach-point="updatePermCtrl"></div></td>
            </tr>
            <tr>
                <td>{translate:Delete}</td>
                <td><div data-dojo-attach-point="deleteActivateCtrl"></div></td>
                <td><div data-dojo-attach-point="deleteDefaultCtrl"></div></td>
                <td><div data-dojo-attach-point="deletePermCtrl"></div></td>
            </tr>
            <tr>
                <td colspan="2">{translate:Permissions for User}</td>
                <td colspan="2"><div data-dojo-attach-point="userSelectCtrl"></div>
                    <div data-dojo-attach-point="userPermissions"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'primary'" type="submit" data-dojo-attach-point="okBtn">{translate:Save}</button>
        <button data-dojo-type="../../_include/widget/Button" type="button" data-dojo-attach-point="cancelBtn">{translate:Cancel}</button>
    </div>
</div>
