<div>
    <div class="clearfix">
        <h3 class="pull-left" data-dojo-attach-point="headlineNode">${headline}</h3>
        <a href="#" data-dojo-attach-event="onClick:_toggleLock"><i class="fa fa-unlock" data-dojo-attach-point="lockNode"></i></a>
    </div>
    <div class="clearfix input-container">
      <form class="form pull-left" id="${formId}">
          <div data-dojo-attach-point="fieldsNode"></div>
      </form>
      <div class="form pull-right">
          <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'btn btn-primary primary'" type="submit" data-dojo-attach-point="saveBtn" data-dojo-attach-event="onClick:_save">{translate:Save}</button>
          <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'btn btn-danger danger'" type="submit" data-dojo-attach-point="deleteBtn" data-dojo-attach-event="onClick:_delete">{translate:Delete}</button>
      </div>
    </div>
    <div data-dojo-attach-point="relationsNode"></div>
</div>
