@import url('../vendor/bootstrap/css/bootstrap.min.css');
@import url('../vendor/simmerdesign/dbootstrap3/theme/dbootstrap/dbootstrap.css');
@import url('../vendor/font-awesome/css/font-awesome.min.css');
@import url('../vendor/sitepen/dgrid/css/dgrid.css');
@import url('../vendor/dojo/dojo/resources/dnd.css');
@import url('../vendor/dojo/dojox/widget/ColorPicker/ColorPicker.css');
@import url('../vendor/dojo/dojox/form/resources/CheckedMultiSelect.css');

@font-face {
  font-family: "Roboto-Regular";
  src: url("webfonts/Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("webfonts/Roboto-Bold.ttf") format("truetype")
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #f5f5f5;
}

#page-browsemedia,
#page-browselink {
  background-image: none !important;
}

[role="button"] {
  outline: none !important;
}

.dijitOffScreen {
  top: 0 !important;
  left: -100vw !important;
}

#wrap  {
  padding: 40px 0;
}

#page-browsemedia #wrap,
#page-browselink #wrap {
  padding: 60px 0;
}

#logo {
  width: 240px;
  height: 100px;
  margin-top: -10px;
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

#page-login #logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px 0 0 50px;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: #2f2f2f;
}

#footer p {
  margin-top: 10px;
  padding: 0 10px;
}

#page-settings,
#page-login,
#page-home,
#page-entity,
#page-entitylist,
#page-searchresult,
#page-admin {
  font-family: "Roboto-Regular";
  background-image: none;
  background-size: cover;
  padding-top: 111px;
  background-position: bottom center;
}

#page-login {
  padding-top: 0;
}

#page-settings #wrap,
#page-home #wrap,
#page-entity #wrap,
#page-entitylist #wrap,
#page-searchresult #wrap,
#page-admin #wrap {
  width: calc(100vw - 120px);
  max-width: 1460px;
  height: calc(100vh - 211px);
  margin: 0 auto;
  background: #f5f5f5;
}

#page-login #wrap {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notification {
  position: fixed;
  top: auto;
  bottom: 100px;
  width: calc(100vw - 120px);
  max-width: 1460px;
  margin: 0 auto;
  z-index: 850;
}

#notification .alert {
  margin: 0 auto;
  width: 100%;
}

.login-page #notification {
  position: relative;
  top: 0;
  width: auto;
}

.login-page #notification .alert {
  width: auto;
}

.form-login {
  max-width: 495px;
  padding: 24px 30px;
  background-color: #fff;
}

.form-login h3 {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 2px;
}

.dbootstrap .dijitInputContainer {
  padding: 8px 10px;
}

.form-login .dijitTextBox {
  margin-top: 12px;
}

.form-login .btn-primary,
.form-login .primary .dijitButtonNode,
.form-login .btn-primary .dijitButtonNode {
  margin: 3px 0 0;
  font-size: 16px;
  height: 32px;
  color: #000;
  background: none !important;
  border: none;
  box-shadow: none;
}

#page-home .jumbotron {
  height: calc(100vh - 274px);
}

#page-home .jumbotron p {
  margin: 30px 0;
}

#page-home .jumbotron .dgrid {
  max-height: calc(100vh - 370px);
}

.media-browse-page, .link-browse-page {
  margin-top: -60px;
}

label {
  display: inline-block;
  margin: 0;
  padding-right: 5px;
  padding-bottom: 4px;
  font-family: "Roboto-Bold";
  font-weight: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

legend {
  float: left;
  margin: 0 0 20px;
  font-size: 18px;
  border: none;
}

.navbar {
  width: calc(100vw - 120px);
  max-width: 1460px;
  margin: 60px auto 0;
}

.navbar-fixed-top {
  z-index: 852;
}

.navbar-default .navbar-collapse .form-group {
  position: relative;
}

.navbar-default .navbar-collapse .form-group .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  border: none;
  background: none !important;
  outline: none !important;
}

.navbar-default .navbar-collapse .form-group .btn .search-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #777;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px
}

.navbar-default .navbar-collapse .form-group .btn .search-icon:after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 7px;
  background: #777;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px
}

/* input */
.entity-page .attribute_group {
  margin: 20px 0 40px;
  padding: 20px 15px;
  background: #efefef;
}

.entity-page .attribute_group:last-child {
  margin-bottom: 20px;
}

.entity-page .dijitTextBox,
.entity-page .vscomp-ele,
.principal-page .dijitTextBox,
.entity-page .dijitSliderH,
.entity-page .fileDropTarget,
.entity-page .dijitComboBox {
  display: block;
  width: calc(100% - 50px) !important;
}

.settings-page .dijitTextBox {
  display: block;
  width: 33.33%;
}

.settings-page .dijitTextBox .dijitPlaceHolder {
  display: none;
}

.entity-page .dijitCheckBox,
.principal-page .dijitCheckBox {
  margin-left: 0;
  margin-right: 10px;
}

.dijitTextBoxDisabled input {
  color: #555 !important;
}

.dojoxCheckedMultiSelect button {
  text-align: left;
}

.dojoxCheckedMultiSelectMenu {
  overflow: scroll;
  max-height: 500px;
  width: 400px;
}

.dojoxCheckedMultiSelectMenuItemChecked {
  font-weight: bold !important;
}

.dojoxCheckedMultiSelectCheckBoxInput {
  opacity: 1.0;
}

/* dgrid */
.dgrid-hider-toggle {
  z-index: 851;
}

.dgrid-row:hover, .dgrid-row:hover .dgrid-cell {
  background-color: #08c;
}

.dgrid-resize-header-container > div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dgrid-header,
.dgrid-header-row,
.dbootstrap .dijitContentPane,
.dbootstrap .dgrid .dgrid-header .dgrid-cell {
  overflow: visible;
}

.dgrid .header-filter .dijitContentPane {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.dgrid .header-filter .dijitContentPane .dijitInputContainer {
  padding: 5px 10px;
}

.dgrid .header-filter .dijitContentPane > div,
.dgrid .dijitTextBox {
  width: calc(100% - 22px);
  display: inline-block;
}

.dgrid-selected, .dgrid-selected .dgrid-cell {
  background-color: #08c;
}

.dgrid-row:hover, .dgrid-row:hover .dgrid-cell a, .dgrid-selected .dgrid-cell a {
  color: #fff;
}

.dgrid-cell-padding {
  padding: 6px;
}

.dgrid-column-selector {
  width: 25px;
}

.dgrid-loading, .dgrid-no-data {
  color: #aaa;
  padding: 3em;
  text-align: center;
}

.dgrid-tree-container .dgrid-loading {
  padding: 0;
}

.dgrid-tree-container .dgrid-no-data {
  display: none;
}

th.field-selector, td.field-selector {
  width: 20px;
}

th.field-oid, td.field-oid {
  width: 30px;
}

th.field-actions-1, td.field-actions-1 {
  width: 24px;
}

th.field-actions-2, td.field-actions-2 {
  width: 48px;
}

th.field-actions-3, td.field-actions-3 {
  width: 80px;
}

th.field-actions-4, td.field-actions-4 {
  width: 96px;
}

th.field-actions-5, td.field-actions-5 {
  width: 120px;
}

th.field-actions-6, td.field-actions-6 {
  width: 144px;
}

.dgrid-cell {
  text-shadow: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px;
}

.dgrid-cell .btn-mini {
  padding: 0 5px;
  cursor: pointer;
}

.dgrid-cell.dgrid-cell-editing div {
  /* disable scrollbars on inline editors */
  overflow: hidden;
}

.dgrid-cell.field-actions-1 {
  width: 36px;
}

.dbootstrap .dijitCheckBox, .dbootstrap .dijitRadio {
  margin-top: -2px;
  color: #999;
  padding: 0;
  font-size: 11px;
  line-height: 16px;
}

.dijitCheckBox, .dijitRadio, .dijitCheckBoxInput {
  width: 15px;
  height: 15px;
}

.vscomp-toggle-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.header-filter .vscomp-toggle-button {
  padding: 5px 30px 5px 10px !important;
}

.vscomp-dropbox {
  min-width: 300px;
  overflow: auto;
}

.vscomp-search-wrapper,
.vscomp-options-container {
  min-width: 300px;
}

.vscomp-arrow {
  display: none !important;
}

.vscomp-clear-button {
  right: 5px !important;
}

.vscomp-wrapper.has-clear-button .vscomp-toggle-button {
  padding-right: 0 !important;
}

/* dnd */
.dojoDndAvatarHeader {
  background-position:3px 3px !important;
}

/* buttons */
.btn-toolbar {
  padding: 10px 0;
}

.btn i {
  padding: 0 4px;
}

/* tabs and accordeons */
.nav-tabs > li .close {
  margin: -20px 0 0 10px;
  font-size: 18px;
}

.dbootstrap .dijitTabPaneWrapper {
  border: none;
  border-top: 1px solid #d5d5d5;
}

.dijitTabContent {
  min-height: 40px !important;
}

.dbootstrap .dijitTitlePane {
  margin-top: 20px;
}

.dbootstrap .dijitTitlePaneTitle {
  padding: 16px 15px;
  font-size: 20px;
  color: #333;
  background: #eee;
}

.dbootstrap .dijitTabPaneWrapper form {
  margin-bottom: 30px;
}

.dbootstrap .dijitTitlePane .dijitArrowNode:before {
  width: 8px;
  height: 14px;
}

.dbootstrap .dijitTitlePane .dijitClosed .dijitArrowNode:before {
  content: '';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.22 10.81'%3E%3Cg data-name='Ebene 2'%3E%3Cpath fill='%23333333' d='M.81 10.81L0 10l4.59-4.59L0 .81.81 0l5.41 5.41-5.41 5.4z' data-name='Ebene 1'/%3E%3C/g%3E%3C/svg%3E");
}

.dbootstrap .dijitTitlePane .dijitOpen .dijitArrowNode:before {
  transform: rotateZ(90deg);
  content: '';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.22 10.81'%3E%3Cg data-name='Ebene 2'%3E%3Cpath fill='%23333333' d='M.81 10.81L0 10l4.59-4.59L0 .81.81 0l5.41 5.41-5.41 5.4z' data-name='Ebene 1'/%3E%3C/g%3E%3C/svg%3E");
}

/* containers */
.principal-page,
.entity-page {
  height: 100%;
}

.container {
  width: calc(100% - 20px);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.container > .dijitTabContainerNoLayout {
  height: 100%;
  overflow: hidden;
}

.container > .dijitTabContainerNoLayout > .dijitTabPaneWrapper .scroll-container {
  height: calc(100vh - 384px);
  padding-right: 10px;
  overflow-y: scroll;
}

.relation-container {
  margin: 20px 0;
}

.padding-bottom {
  padding-bottom: 10px;
}

/* entity form */
.form-header .pull-right {
  margin-top: 9px;
}

.form-header > .clearfix {
  border-bottom: 1px solid #ddd;
}

.dijitLayoutContainer,
.dijitContainer {
  overflow: visible;
}

.entity-form-valueCell {
  padding: 10px 0;
}

.entity-form-valueCell div {
  overflow: hidden;
}

h3[data-dojo-attach-point=headlineNode] {
  width: 350px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkBoxLabel {
  padding: 0 10px 0 5px;
}

td {
  vertical-align: top;
}

.tableContainer-labelCell {
  width: 50% !important;
  padding-bottom: 24px;
}

.tableContainer-labelCell > div > .dojoxCheckedMultiSelect,
.tableContainer-labelCell > div > .dijitCheckBox,
.tableContainer-labelCell > .dijitCheckBox {
  display: block;
}

.tableContainer-labelCell:last-child > .headline {
  display: block;
  margin-top: -40px;
  padding-bottom: 16px;
}

.tableContainer-labelCell > div > .dojoxCheckedMultiSelect .btn {
  width: calc(100% - 50px);
}

.dbootstrap .dijitContentPane .flex,
.entity-page .groupContainer--beside .dijitTextBox,
.entity-page .groupContainer--beside .vscomp-ele,
.principal-page .groupContainer--beside .dijitTextBox:not(.dijitTextArea),
.entity-page .groupContainer--beside .dijitSliderH,
.entity-page .groupContainer--beside .fileDropTarget {
  display: block;
  width: 100% !important;
  margin-right: 0 !important;
}

.groupContainer--beside {
  padding-right: 50px;
}

.groupContainer--beside > div {
  display: inline-block;
  vertical-align: top;
}

.groupContainer--beside.groupContainer--cols-2 > div {
  width: calc(50% - 12px);
}

.groupContainer--beside.groupContainer--cols-3 > div {
  width: calc(33.33% - 16px);
}

.groupContainer--beside.groupContainer--cols-4 > div {
  width: calc(25% - 18px);
}

.groupContainer--under > div:not(:last-child) {
  padding-bottom: 24px;
}

td.headline {
  padding: 24px 0;
}

.entity-form-table .tableContainer-labelCell div.headline {
  width: 100%;
}

label.headline {
  font-family: "Roboto-Regular";
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.spacer {
  margin: 0.2em;
}

.dbootstrap .dijitContentPane {
  padding: 0;
}

img.thumb {
  max-height: 150px;
}

.dijitContentPane img.thumb {
  width: auto;
  height: 46px;
}

.dijitTooltipContainer {
  border: 0;
}

.tabLabel img.thumb, .dgrid-content img.thumb {
  height: 20px !important;
}

fieldset i.fa {
  margin-right: 10px;
  font-size: 16px;
  line-height: 20px;
}

.entity-link {
  display: inline-block;
  padding-left: 5px;
}

/* adjustments for principal page */
.dbootstrap .principal-page .dijitTabPaneWrapper form {
  margin-bottom: 0;
  width: 50%;
}

.principal-page .tableContainer-labelCell {
  padding-bottom: 0;
}

.principal-page .input-container > div {
  margin-top: -50px;
}

/* style regular selects like virtual selects */
.dbootstrap .dijitArrowButtonInner::before {
  transform: rotate(45deg);
  border: 1px solid transparent;
  border-bottom-color: #111;
  border-right-color: #111;
  content: "";
  height: 8px;
  margin-top: -6px;
  width: 8px;
}

.dbootstrap .dijitComboBox .dijitButtonNode {
  border: none;
}

.cke_maximized {
  z-index: 853;
}

/* elfinder */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover input {
  color: #000 !important;
}

@media (max-width: 1024px) {
  .tableContainer-labelCell:last-child > .headline {
    margin-top: 0;
  }
}

/* collapse navbar */
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }
}

/* remove background image on smaller screens */
@media (max-width: 900px) or (max-height: 900px) {
  #page-home,
  #page-entity,
  #page-entitylist,
  #page-searchresult,
  #page-admin {
    padding-top: 50px;
  }

  .navbar {
    width: 100vw;
    max-width: none;
    margin: 0;
  }

  #page-home #wrap,
  #page-entity #wrap,
  #page-entitylist #wrap,
  #page-searchresult #wrap,
  #page-admin #wrap {
    width: 100vw;
    height: calc(100vh - 90px);
    max-width: none;
  }

  #wrap {
    padding: 0;
  }

  #page-browsemedia #wrap,
  #page-browselink #wrap {
    padding: 60px 0;
  }

  #page-home .jumbotron {
    height: calc(100vh - 114px);
  }

  .container > .dijitTabContainerNoLayout > .dijitTabPaneWrapper .scroll-container {
    height: calc(100vh - 220px);
  }

  #notification {
    top: auto;
    bottom: 0;
    width: 100vw;
    max-width: none;
  }
}

/*
  Responsive table layout for form
  http://css-tricks.com/responsive-data-tables/
*/
@media only screen and (max-width: 980px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  .entity-form-table table, .entity-form-table thead, .entity-form-table tbody,
  .entity-form-table th, .entity-form-table td, .entity-form-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .entity-form-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .entity-form-table td {
    /* Behave like a "row" */
    position: relative;
  }

  .entity-page .dijitTextBox,
  .entity-page .vscomp-ele,
  .principal-page .dijitTextBox,
  .settings-page .dijitTextBox {
    width: 95%;
  }

  .tableContainer-labelCell {
    width: 100% !important;
  }
}